__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

.ipynb_checkpoints

.vscode/

.env
config/secrets.env

*.pth
*.pt
*.h5

.DS_Store
Thumbs.db

logs/
*.log
*.tmp
*.bak


node_modules/

.env

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store

.idea/
.vscode/